{% extends "layout.html" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-9">
      <div class="govuk-grid-column-two-thirds">
        <a href="information-hub" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-xl">Remote working</h1>
        <h2 class="govuk-heading-l">Setting up your home working environment</h2>
        <p class="govuk-body">When you’re working from home on a regular basis, it’s important that you set up a comfortable and ergonomic work environment. Companies House has a wide range of equipment available for you to order, from monitors and
          keyboards, to desks and chairs. Have a look at the ‘Ordering equipment and resources’ section, which has specific guidance to help you order what you need.</p>
        <p class="govuk-body">As well as creating a physically comfortable work environment, working from home can also present challenges when it comes to working with a new team. Luckily, we have several resources to help you adjust to working from a distance:</p>
        <h2 class="govuk-heading-l">Health and safety when working at home</h2>
        <p class="govuk-body">There are many reasons why having the right equipment and set up for your home working environment is vital for your health and wellbeing. By having the correct working environment, you can avoid health problems such as:</p>
      </div>
    </div>
  </div>
{% endblock %}>