{% extends "layout.html" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-9">
      <div class="govuk-grid-column-one-half-from-desktop">
        <h1 class="govuk-heading-xl">Your first day at Companies House</h1>
        <p class="govuk-body">Introducing
          <name>, our new onboarding tool that’s designed to help you settle in to Companies House quickly and comfortably.</p>

          <p class="govuk-body">You can use
            <name>
              to find useful information and resources as a new starter.
            </p>

            <p class="govuk-body govuk-!-margin-bottom-0">You’ll also find a progress tracker to work through at your own pace. This will help you gain all the knowledge you need to help you have the best possible start to working at Companies House.

            </p>
          </div>
          <div class="govuk-grid-column-one-half-from-desktop govuk-!-padding-right-0" style="text-align: right">
            <iframe
              width="98%"
              height="420"
              src="https://www.youtube.com/embed/E7gdNfr20sE"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </div>

      <div class="outside">
        <section class=" govuk-!-margin-bottom-0">
          <div class="govuk-width-container">
            <div style="display:flex" class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds-from-desktop">
                <div class="promo-banner__content">
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-6 govuk-!-padding-top-7">Companies House at a glance</h2>
                  <iframe
                    width="80%"
                    height="315"
                    src="https://www.youtube.com/embed/E7gdNfr20sE"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen="allowfullscreen"></iframe>
                  <p class="govuk-body govuk-!-margin-top-8">We incorporate and dissolve limited companies. We register company information and make it available to the public.</p>
                  <p class="govuk-body">Companies House is an executive agency, sponsored by the Department for Business, Energy & Industrial Strategy.</p>
                  <h3 class="govuk-heading-m">Who are we?</h3>
                  <p class="govuk-body">Companies House is the UK’s registrar of companies. We’re an executive agency and trading fund of Her Majesty’s Government, sponsored by the Department for Business, Energy and Industrial Strategy (BEIS).</p>
                  <h3 class="govuk-heading-m">What do we do?</h3>
                  <p class="govuk-body">Our main functions are to:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-7">
                    <li>incorporate and dissolve limited companies</li>
                    <li>examine and store company information
                    </li>
                    <li>make this information available to the public</li>
                  </ul>
                </div>
              </div>
              <div class="govuk-grid-column-one-third-from-desktop promo-banner promo-banner--dark-theme">
                <h1 class="govuk-heading-xl">ABC</h1>
                <p class="govuk-body">We aim to follow ABC behaviours, and be:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Adaptable</li>
                  <li>Bold</li>
                  <li>Curious</li>
                </ul>
                <h1 class="govuk-heading-xl">Values</h1>
                <p class="govuk-body">Our values are:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>To work as one</li>
                  <li>That every achievement counts</li>
                  <li>To maintain excellent behaviour and standards</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>

      <img width="100%" src="/images/banner-image.jpg"/>

      <div class="promo-banner promo-banner--dark-theme">
        <div class="govuk-width-container">
          <div class="govuk-grid-row govuk-!-margin-top-9 govuk-!-margin-bottom-9">
            <div class="govuk-grid-column-two-thirds-from-desktop">
              <h2 class="govuk-heading-l">Civil Service</h2>
              <h3 class="govuk-heading-m">What is the civil service?</h3>
              <p class="govuk-body">The Civil Service helps the government develop and implement its policies as effectively as possible.</p>

              <p class="govuk-body">It’s made up of many different sectors and professions, including finance, digital, Human Resources and administrative work, to name a few.</p>

              <p class="govuk-body">We deliver crucial public services to keep the country running smoothly.</p>

              <h3 class="govuk-heading-m">What is a civil servant?</h3>
              <p class="govuk-body">A civil servant is a person employed in the public sector by a government department or agency.</p>
              <p class="govuk-body">The work civil servants do covers all aspects of life in the UK, from education and the environment, to transport and defence.</p>
              <p class="govuk-body">We’re funded by the taxpayer, so it’s important we fulfil our duties with the high standards the public expects.</p>
              <h3 class="govuk-heading-l">The Civil Service code</h3>
              <p class="govuk-body">There are four core values that we, as civil servants, must abide by. These are:
              </p>

              <ul class="govuk-list govuk-list--bullet">
                <li>Integrity - Putting public service above our own personal interests</li>

                <li>Honesty - Being truthful and open</li>

                <li>Objectivity - Basing our advice and decisions on evidence</li>

                <li>Impartiality - Basing our decisions on merit and serving governments of different political persuasions equally</li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-third-from-desktop">
              <img class="govuk-!-margin-bottom-4" width="100%" src="/images/placeholder-image.png"/>
              <img class="govuk-!-margin-bottom-4" width="100%" src="/images/placeholder-image.png"/>
              <img class="govuk-!-margin-bottom-4" width="100%" src="/images/placeholder-image.png"/>
            </div>
          </div>
        </div>
      </div>

      <section class="">
        <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-top-9 govuk-!-margin-bottom-9">
              <div class="three-columns">
                <h2 class="govuk-heading-l">Working life</h2>
                <h3 class="govuk-heading-m">Benefits of working at Companies House</h3>
                <p class="govuk-body">At the moment, almost everyone is working remotely. When we do return to the office, there’s free parking, an onsite gym, cafeteria and kitchen facilities.</p>
                <p class="govuk-body">There are several networks you can join that help you stay connected to people and get support when you need it.</p>
                <p class="govuk-body">You also get a highly competitive 30 days’ annual leave, as well as bank holidays, plus an additional day’s leave for the Queen’s birthday!</p>
                <h3 class="govuk-heading-m">Flexi time</h3>
                <p class="govuk-body">Companies House uses a flexible working system. You are expected to work 37 hours per week, which is around 7 hours 20 per day. However, you can usually work these hours in any pattern between 6am and 8pm.</p>
                <p class="govuk-body">You can also build up extra flexi time across the week, so if you work over your contracted hours, you can take this as flexi leave when needed.</p>
                <h3 class="govuk-heading-m">Office culture</h3>
                <p class="govuk-body">At Companies House, you’re encouraged to bring your ‘whole self’ to work. There is no dress code, so whether you want to wear a shirt and tie or hoodie and jeans, that’s entirely up to you.</p>
                <p class="govuk-body">We’re adopting ‘smarter ways of working’, which is about flexibility, resilience and productivity. Examples of this include using new technologies, hot-desking and flexible working.</p>
                <img class="govuk-!-margin-bottom-4" width="100%" src="/images/hello.png"/>
              </div>
            </div>
          </div>
        </div>
      </section>
      <img width="100%" src="/images/banner-image-two.jpg"/>
      <div class="promo-banner promo-banner--dark-theme">
        <div class="govuk-width-container">
          <div class="govuk-grid-row govuk-!-margin-top-9 govuk-!-margin-bottom-9">
            <div class="govuk-grid-column-two-thirds-from-desktop">
              <h2 class="govuk-heading-l">Information Hub</h2>
              <h3 class="govuk-heading-m">What is it?</h3>
              <p class="govuk-body">The Information Hub is designed to be a one stop shop for all the information you need as a new starter in the organisation.
              </p>

              <p class="govuk-body">You’ll find useful information including how to use the clocking system, how to set up for remote working and which support networks are available to you.</p>

              <h3 class="govuk-heading-m">Progress tracker</h3>

              <p class="govuk-body">As you make your way through the information provided in the Hub, you’ll be able to keep track of what you’ve learnt so far and what remains using the progress tracker.</p>

              <p class="govuk-body">Simply click ‘Complete’ after you’ve read each section. You can do this at your own pace - it’s not monitored, it’s purely there so that you can be sure that you’ve received all the information you need.</p>

              <h3 class="govuk-heading-m">After completion</h3>
              <p class="govuk-body">Once you’ve worked your way through the Information Hub and completed the progress tracker, the information will still be available for you to refer back to as and when required.
              </p>

              <a class="govuk-btn  govuk-!-padding-4 govuk-!-margin-top-6" href="Start your journey">Visit the information hub</a>

            </div>
            <div class="govuk-grid-column-one-third-from-desktop">
              <img class="govuk-!-margin-bottom-4" width="100%" src="/images/placeholder-image.png"/>
              <img class="govuk-!-margin-bottom-4" width="100%" src="/images/placeholder-image.png"/>
              <img class="govuk-!-margin-bottom-4" width="100%" src="/images/placeholder-image.png"/>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}>