{% extends "layout.html" %}

{% block content %}
  <main class="govuk-main-wrapper" id="content">
    <div style="background: #EFEBE8">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half-from-desktop govuk-!-padding-top-8 govuk-!-padding-bottom-8">
            <h1 class="govuk-heading-m">Welcome</h1>
            <p class="govuk-body">Hello and welcome to Companies House!</p>
            <p class="govuk-body">To give you the best possible start on your Companies House Experience journey, we’ve created Key - our new tool that’s designed to be a one-stop shop for all the essential knowledge you need as a new starter in the organisation and beyond.</p>
            <p class="govuk-body">It provides useful information and resources, such as how to use the clocking system, how to set up for remote working and which support networks are available to you.</p>
            <p class="govuk-body govuk-!-margin-bottom-0">Key will be available to you for as long as you’re with us, meaning you’ll have access to all the key information you need, whenever you need it.</p>
          </div>
          <div class="govuk-grid-column-one-half-from-desktop govuk-!-padding-right-0 main-video-container">
            <iframe
            class="main-video"
            width="98%"
            height="462"
            src="https://www.youtube.com/embed/E7gdNfr20sE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-width-container govuk-!-margin-top-9" >
      <div class="govuk-grid-row ch-home">
        <div class="govuk-grid-column-one-half-from-desktop">
          <div class="promo-banner__content">
            <video width="100%" height="100%" controls="controls" style="display:block">
                <source src="https://onboarding-portal-assets.s3.eu-west-2.amazonaws.com/Companies_House_Transformation_2025_3c0c27d3b8.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="govuk-grid-column-one-half-from-desktop promo-banner promo-banner--dark-theme">
          <p class="govuk-body">We aim to follow ABC behaviours, and be:</p>
          <ul class="govuk-list govuk-list--spaced">
            <li class="govuk-body-l"><strong>Adaptable</strong></li>
            <li class="govuk-body-l"><strong>Bold</strong></li>
            <li class="govuk-body-l"><strong>Curious</strong></li>
          </ul>
        </div>
      </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-9 govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-xl">What it’s like to work at Companies House</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third-from-desktop">
            <p class="govuk-body">At the moment, almost everyone is working remotely. When we do return to the office, there’s free parking, an onsite gym, cafeteria and kitchen facilities.</p>
            <p class="govuk-body">There are several networks you can join that help you stay connected to people and get support when you need it.</p>
            <p class="govuk-body">You also get a highly competitive 30 days’ annual leave, as well as bank holidays, plus an additional day’s leave for the Queen’s birthday!</p>
          </div>
          <div class="govuk-grid-column-one-third-from-desktop">
            <h3 class="govuk-heading-m">Office culture</h3>
            <p class="govuk-body">At Companies House, you’re encouraged to bring your ‘whole self’ to work. There is no dress code, so whether you want to wear a shirt and tie or hoodie and jeans, that’s entirely up to you.</p>
            <p class="govuk-body">We’re adopting ‘smarter ways of working’, which is about flexibility, resilience and productivity. Examples of this include using new technologies, hot-desking and flexible working.</p>
          </div>
          <div class="govuk-grid-column-one-third-from-desktop">
            <h3 class="govuk-heading-m">Flexi time</h3>
            <p class="govuk-body">Companies House uses a flexible working system. You are expected to work 37 hours per week, which is around 7 hours 20 per day (based on full time hours). However, you can usually work these hours in any pattern between 6am and 8pm.</p>
            <p class="govuk-body">You can also build up extra flexi time across the week, so if you work over your contracted hours, you can take this as flexi leave when needed.</p>
            <h3 class="govuk-heading-m">Volunteering</h3>
            <p class="govuk-body">As an organisation, we want to do our bit to help out in the local community. That’s why we encourage you to volunteer for 3 days per year, as part of your working hours.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <img alt="Companies House provides opportunities to volunteer, be part of a community, and to help people." class="full-width" width="100%" src="/images/ch-team.png"/>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-9 govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-xl">Start discovering what Key has to offer
        </h2>
        <p class="govuk-body">Now that you’ve been introduced to Key, it’s time to discover all the
          <a href="information-hub">key information</a>
          you need to know about working at Companies House.
        </p>
      </div>
    </div>
  </main>
{% endblock %}>
