{% extends "layout.html" %}

{% block content %}
  {% for page in data %}
    <div class="panel">
      <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
          <div class="govuk-grid-column-one-half-from-desktop">
            <h2 class="govuk-heading-m govuk-!-margin-top-8">
              <a href="/page/{{page.page_id}}" class="govuk-link">{{page.page_title}}</a>
            </h2>
            <div>
              {{page.page_summary | safe}}
            </div>
          </div>

          <div class="govuk-grid-column-one-half-from-desktop">
            {% if page.image %}
              <img src="{{page.image.url}}" alt="{{page.image.alternativeText}}"/>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}>