{% extends "layout.html" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-9">
      <div class="govuk-grid-column-one-half-from-desktop">
        <h1 class="govuk-heading-xl">Information Hub</h1>
        <label for="file">Progress:</label>
        <progress id="file" value="32" max="100">
          32%
        </progress>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-one-half-from-desktop">
          <h2 class="govuk-heading-m">
            <a href="#" class="govuk-link">Remote working</a>
          </h2>
          <p class="govuk-body">This section includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Setting up your home working environment</li>
            <li>Health and safety when working at home</li>
            <li>Ordering equipment and resources</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-one-half-from-desktop">
          <h2 class="govuk-heading-m">
            <a href="#" class="govuk-link">Office working</a>
          </h2>
          <p class="govuk-body">This section includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Office layout</li>
            <li>Meeting rooms</li>
            <li>Canteen and other useful places (maybe things nearby?)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-one-half-from-desktop">
          <h2 class="govuk-heading-m">
            <a href="#" class="govuk-link">iTrent</a>
          </h2>
          <p class="govuk-body">This section includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Flexi and clocking</li>
            <li>Annual leave and absences</li>
            <li>Payslips, P60’s etc…</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-one-half-from-desktop">
          <h2 class="govuk-heading-m">
            <a href="#" class="govuk-link">Key communications</a>
          </h2>
          <p class="govuk-body">This section includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Internal communication platforms</li>
            <li>External communication platforms</li>
            <li>Civil Service communication platforms</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-one-half-from-desktop">
          <h2 class="govuk-heading-m">
            <a href="#" class="govuk-link">Support networks</a>
          </h2>
          <p class="govuk-body">This section includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Workplace communities</li>
            <li>HR Advisory</li>
            <li>Buddies and mentors</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-one-half-from-desktop">
          <h2 class="govuk-heading-m">
            <a href="#" class="govuk-link">Performance</a>
          </h2>
          <p class="govuk-body">This section includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Learning and development</li>
            <li>Check-ins</li>
            <li>Mandatory courses</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="govuk-width-container">
      <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-one-half-from-desktop">
          <h2 class="govuk-heading-m">
            <a href="#" class="govuk-link">Benefits</a>
          </h2>
          <p class="govuk-body">This section includes:</p>
          <ul class="govuk-list govuk-list--bullet govuk-list">
            <li>Pensions and money</li>
            <li>Benefits of working at Companies House</li>
            <li>Misc…</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}>