{% extends "layout.html" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-9 govuk-!-margin-bottom-9 center-article">
      <div class="govuk-grid-column-two-thirds">
        <a href="/information-hub" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-xl">{{ data.page_title }}</h1>
        {% if data.image %}
          <div>
            <img src="{{data.image.url}}" alt="{{data.image.alternativeText}}"/>
          </div>
        {% endif %}
        {% for paragraph in data.paragraphs %}
          {% if paragraph.heading %}
            <h2 class="govuk-heading-l">{{ paragraph.heading }}</h2>
          {% endif %}
          {% if paragraph.body %}
            <p class="govuk-body">{{ paragraph.body | striptags(true) | escape | nl2br}}
            </p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}